<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>自動販売機</title>
</head>
<body>
<form action="" method="POST">
<table>
    <caption>商品を選んでください</caption>
    <tr>
        <th>商品名</th>
        <th>価格</th>
        <th>在庫</th>
        <th>個数</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.num}}</td>
        <td><input type="number" name="buyitem[{{item.id}}]" value="0"></td>
    </tr>
    {% endfor %}
</table>
<p>
    <label>
        投入額
        <input type="number" name="pay" value="{{pay}}">
        <input type="submit" value="購入">
    </label>
</p>
</form>

{% if result %}
  <p>購入商品: </p>
  {% for b in buyed %}
      <p> {{b}} </p>
  {% endfor %}

  <p>おつり: {{turi}}</p>

  <p>合計金額: {{sum}}</p>

  <p>{{lessmoney}}</p>
{% endif %}

</body>
</html>